@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
    background-color: #fafafa;
}

.header { 
    padding-top: 20px;
}

h1, h2 {
    font-family: 'Permanent Marker', cursive;
    color: red;
    text-align: center;
}

h5 {
    text-align: center;
}

p {
    text-align: center;
}

.canvas {
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    border: solid black 2px;
}

.canvas1 {
    background-image: url('../images/aroundTheWorld.jpg');
    background-size: cover;
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    border: solid black 2px;
}

.center {
  margin: 0;
  position: absolute;
  top: 20%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center form {
    padding-top: 10px;
    border-radius: 10px;
    height: 100px;
    width: 500px;
    background-color: yellow;
}

button {
    margin: 5px;
    
} 

a {
    color: white;
}



