@import url('https://fonts.googleapis.com/css2?family=Anton&family=Permanent+Marker&display=swap');

body {
    max-height: 100vH;
    background-color: #fff;
    padding:0;
}

.header {
    font-family: 'Anton', sans-serif; 
    padding: 20px;
    background-color: #fafafa;
    color: black;
    text-align: center;
}


h1, h2 {
    font-family: 'Permanent Marker', cursive;
    color: red;
    text-align: center;
}

h2 span {
    color: blue;
}

h5 {
    text-align: center
}

.zoom-window h5 {
    color: #fafafa;
}

.game-controls h5 {
    color: #000;
}

h5 em {
    text-align: center;
    color: red;
}

p {
    text-align: center;
}

.zoom-window {
    display: inline-block;
    background-image: url('../images/zoom-placeholder-image.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 5px;
}

.game-board {
    display: inline-block;
    background-image: url('../images/aroundTheWorld.jpg');
    background-size: contain;     
    background-repeat: no-repeat;
    margin-bottom: 1rem;
}

.game-controls {
    display: inline-block;
    margin: 5px;
}



#start {
    
}

#stop {
    
    background-color: red;
    margin-top: 5px;
}

#continue-button {
    display: none;
    /*width: 25%;*/
    margin-top: 5px;
}

#timer    {
    display: inline-block;
    padding: 10px;
    height: 50px;
    width: 50%;
    text-align: center;
    border: solid red 2px;
}

.clues .card { 
    margin-top: 5px;
    display: none;
}

.correct {
    display: none;
    color: green;
}

.green {
    border: 3px solid green;
}

.center {
  margin: 0;
  position: absolute;
  top: 20%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center form {
    padding-top: 10px;
    border-radius: 10px;
    height: 100px;
    background-color: lightblue;
}

button {
    margin: 5px;
    
} 

a {
    color: white;
}



