@import url('https://fonts.googleapis.com/css2?family=Anton&family=Permanent+Marker&display=swap');

body {
    background-color: #fff;
    padding:0;
}

.header {
    font-family: 'Anton', sans-serif; 
    padding: 20px;
    background-color: #fafafa;
    color: black;
    text-align: center;
}


h1, h2 {
    font-family: 'Permanent Marker', cursive;
    color: red;
    text-align: center;
}

h2 span {
    color: blue;
}

h5 {
    text-align: center;
}

p {
    text-align: center;
}

#start {
    width: 100%;
}

#stop {
    width: 100%;
    background-color: red;
    margin-top: 5px;
}

#continue-button {
    display: none;
    /*width: 25%;*/
    margin-top: 5px;
}

#counter    {
    display: none;
    padding: 10px;
    height: 50px;
    width: 50%;
    text-align: center;
    border: solid red 2px;
}

.clues .card {
    margin-top: 5px;
    display: none;
}

.correct {
    display: none;
    color: green;
}

.green {
    border: 3px solid green;
}

.canvas {
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    border: solid black 2px;
}

.canvas1 {
    background-image: url('../images/aroundTheWorld.jpg');
    background-size: cover;
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    border: solid black 2px;
}

.center {
  margin: 0;
  position: absolute;
  top: 20%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center form {
    padding-top: 10px;
    border-radius: 10px;
    height: 100px;
    width: 500px;
    background-color: lightblue;
}

button {
    margin: 5px;
    
} 

a {
    color: white;
}



