<!DOCTYPE html>
<html lang="en">
  {% extends 'base.html' %} {% block content %}
  <div class="container-fluid">
    <p>
      The object of this game is to solve the clues and complete each stage in
      the fastest time possible.
    </p>

    <div class="row">
      <div class="col-2 clues">
        
        
        
        
          
      </div>

      <div class="col-8 canvas1">
        <div class="center">
          <form method="POST" class="form-inline justify-content-center">
            <label class="sr-only" for="inlineFormInputName2">Name</label>
            <input
              id="team_name"
              name="team_name"
              type="text"
              class="validate"
              placeholder="Team name"
            />

            <button type="submit" class="btn btn-success mb-2">
              <b>GO</b><i class="fas fa-angle-double-right"></i>
            </button>
            <h5>Enter your team name to go to the starting line!</h5>
          </form>
        </div>
      </div>
      <div class="col-2">
        <div class="row justify-content-center">
          
        </div>
        <div class="row justify-content-center"></div>
      </div>
    </div>
  </div>
  <script>
    function myMap() {
      var mapProp = {
        center: new google.maps.LatLng(51.508742, -0.12085),
        zoom: 2,
      };
      var map = new google.maps.Map(
        document.getElementById("googleMap"),
        mapProp
      );
      var dublin = { lat: 53.347234, lng: -6.259278 };
      var marker = new google.maps.Marker({ position: dublin, map: map });
    }
  </script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoU38Bi9RaqnX0R46KvqIBbWsTO0Mf6ms&callback=myMap"></script>
  {% endblock%}
</html>
