<!DOCTYPE html>
<html lang="en">
  {% extends 'base.html' %} {% block content %}
  <div class="container-fluid">
    <p>
      The object of this game is to solve the clues and complete each stage in
      the fastest time possible.
    </p>

    <div class="row">
      <div class="zoom-window">
        <p>Zoom window</p>
      </div>

      <div class="game-board">
        <div class="center">
          <form method="POST" class="form-inline justify-content-center">
            <label class="sr-only" for="inlineFormInputName2">Name</label>
            <input
              id="team_name"
              name="team_name"
              type="text"
              class="validate"
              placeholder="Team name"
            />

            <button type="submit" class="btn btn-success mb-2">
              <b>GO</b><i class="fas fa-angle-double-right"></i>
            </button>
            <h5>Enter your team name to go to the starting line!</h5>
          </form>
        </div>
      </div>

      <div class="game-controls">
        <p>Game controls</p>
      </div>
    </div>
  </div>
  {% endblock%}
</html>
