<!DOCTYPE html>
<html lang="en">
  {% extends 'base.html' %} {% block content %}
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-3 clues">
        <h1>Clues</h1>
        <div class="row justify-content-center">
          <button type="button" class="btn btn-success btn-lg" id="start">
            Start
          </button>
          <div id="counter" display="none"></div>
        </div>
        {% for clue in clues %}

        <div class="card clue">
          <div class="card-body">
            {{clue.step}}) {{clue.question}}
            <form action="">
              <input type="text" id="answer" name="answer" />
              <button
                type="button"
                onclick="check_answer(question='{{clue.question}}', answer='{{clue.answer}}')"
                class="btn btn-success btn-sm"
                id="answer-button"
              >
                Submit
              </button>
            </form>
          </div>
        </div>

        {% endfor %}
        <div class="row justify-content-center">
          <button type="button" class="btn btn-success btn-lg" id="stop">
            Stop the Clock
          </button>
        </div>
      </div>

      <div class="col-6">
        <h2>Welcome <span>{{ username }}</span> to stage 3</h2>
        <div id="googleMap" class="canvas">


          <iframe
            src="https://www.educaplay.com/types-of-activities/map-quizzes.html"
            width="100%"
            height="600px"
            frameborder="0"
            style="border: 0;"
            allowfullscreen=""
            aria-hidden="false"
            tabindex="0"
          ></iframe>
        </div>
               <div class="row justify-content-center">
          <button
            type="button"
            class="btn btn-success btn-lg"
            id="continue-button"
            
          ><a href="{{ url_for('stage_3') }}">
            Continue</a>
          </button>
        </div>
      </div>

      <div class="col-3">
        <h1>Leaderboard</h1>
        {% for team in teams %}
        <div class="card">
          <div class="card-body">
            <b>Team: </b>{{team.team_name.title()}} <b>Time: </b>{{team.time}}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  

<script>
    var seconds = 0,
      minutes = 0;

    var counter;
    var stop, start;
    var counting = false;

    window.onload = function () {
      counter = document.getElementById("counter");
      stop = document.getElementById("stop");
      stop.onclick = function () {
        counting = false;
        $("#continue-button").show();
      };
      start = document.getElementById("start");
      start.onclick = function () {
        counting = true;
        timer();
      };

      counting = false;
      timer();
    };

    function timer() {
      if (seconds >= 60) {
        minutes++;
        seconds = 0;
      }

      if (seconds < 10) seconds = "0" + seconds;

      if (minutes < 10) {
        counter.innerHTML = "Time: " + minutes + ":" + seconds;
      }
      if (minutes > 10) {
        counter.innerHTML = "Time: " + minutes + ":" + seconds;
      }

      if (counting) {
        seconds++;
        setTimeout(timer, 1000);
      }
    }

    function check_answer(question, answer) {
      console.log(question);
      console.log(answer);
      var user_answer = "";
      user_answer = document.getElementById("answer").value.toLowerCase();
      console.log("user_answer = " + user_answer);
      if (user_answer == answer) {
        console.log("Correct");
        document.getElementById("answer").remove();
        document.getElementById("answer-button").remove();
        $(".card.clue:visible").last().css("background-color", "#c4f2b7");
        $(".card.clue:visible").last().next(".clue:hidden").show();
      } else {
        console.log("Wrong");
        $(".card.clue:visible").last().css("background-color", "#f09a9a");
      }
    }
  </script>

  <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoU38Bi9RaqnX0R46KvqIBbWsTO0Mf6ms&callback=myMap"></script>-->
  {% endblock%}
</html>
